.cost {
  margin-right: 7px;
  margin-top: 5px;
}

h1 {
  font-size: 20px;
}

.reminder {
  display: none;
}

.win-loss {
  font-size: 16px;
}

#container {
    width: 280px;
    color: white;
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    margin: 15px;
}

#tracker-header h1 {
}

#floating-history {
    left: 232px;
    top: 26px;
}

.deck-container {
    height: 30px;
    font-size: 14px;
}

.deck-name {
    top: -1px;
    position: relative;
}

.card {
  background-image:none;
  color: white;
  height: 26px;
  width: 100%;
  /* background-color: rgba(221, 221, 221, 0.3); */
  margin-left: 0px;
  border-bottom: solid #636363 1px;
  border-top: solid #636363 1px;
}

.card-text {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

.cardcount {
  display: inline-block;
  padding-top: 3px;
  background-color: #0f4e61;
  height: 23px;
  padding-left: 7px;
  width: 25px;
}

.back-link {
  visibility: hidden;
  height: 0;
  padding: 0;
}


.back-link:after {
  content: "<";
  visibility: visible;
  display: block;
  position: relative;
  left: 8px;
  top: -23px;
}

/**#deck-list .back-link:after {
    top: -32px;
}**/

.back-link.rollup-modifier:after {
  content: "";
  visibility: hidden;
}

.cardsleft {
  padding-top: 0px;
}

.gamecomplete {
  padding-left: 25px;
}

.deck-title {
  padding: 0 8px 5px 25px;
}
 #browse-back:after {
    top: -22px;
 }
