.settings-container {
  padding: 10px;
  margin: 10px;
}

.settings-row {
  margin-top: 10px;
}

.toggle {
  min-width: 65px;
  min-height: 40px;
}

.about-p {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.btnbtn {
  margin-top: 12px;
}

.disclaimer {
  font-size: 14px;
  font-style: italic;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.maj-img {
  width: 140px;
  height: 140px;
  border-radius: 7px;
}

.maj-container {
  display: inline-block;
  width: 210px;
  height: 240px;
}

.small-hr {
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slidevalue {
    width: 10%;
    display: inline-block;
    text-align: right;
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
    margin-top: 10px;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3fa7b3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3fa7b3;
    cursor: pointer;
}

.authorize-button, .authorize-submit-button {
  float: right;
  height: 23px;
  font-size: 12px!important;
  margin: 0 5px;
  padding-top: 2px!important;
}

.authorize-submit-button{
  margin-top: 8px;
}

.account-entry {
  padding: 5px 5px;
  border-top: solid rgb(220,220,220) 1px;
  border-bottom: solid rgb(220,220,220) 1px;
}

.account-entry:first-child {
  border-top: solid rgb(220,220,220) 2px;
}

.account-entry:last-child {
  border-bottom: solid rgb(220,220,220) 2px;
}

.access-container {
  display: none;
  padding-top: 10px;
}

.recent-cards-group-container {
  background-color: #6c757d;
  display: block;
  margin: 15px 0;
  border: solid #ccc 1px;
}

.recent-cards-header {
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 0;
    margin-bottom: 3px;
}

.recent-cards-container {
  background-color: rgba(220,220,220,1.0);
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* https://codepen.io/Deadlymuffin/pen/hGiqo/ */

.social-icon {
    color: #fff;
    background-color: #aaa;
    padding: 3px 15px;
    border-radius: 4px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.social-icon:hover {
  cursor: pointer;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-github:hover {
    background-color: #333;
}
.fa-link:hover {
    background-color: #333;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-twitch:hover {
    background-color: #6441A4;
    color: white;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.counter-toggle-span {
    vertical-align: middle;
    margin-left: 10px;
}

.counter-reset-span {
    margin-top: 8px;
    display: inline-block;
}

.reset-all-btn {
    width: 20em;
}

.counter-adj-span {
    float: right;
}

.counter-reset-row {
  height: 32px;
}
