.settings-container {
  padding: 10px;
  margin: 10px;
}

.settings-row {
  margin-top: 10px;
}

.toggle {
  min-width: 65px;
  min-height: 40px;
}

.about-p {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.disclaimer {
  font-size: 14px;
  font-style: italic;
}