/* #709581  - blue from table bg */
/* #BE905E  - light brown from table bg */
::-webkit-scrollbar { display: none; }

* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-user-select: none;
    text-shadow: 2px 2px #111;
}

.mi {
    text-shadow: 0 0 0;
}


@font-face {
    font-family: beleren;
    src: url(fonts/Beleren-Bold.woff);
}

@font-face {
    font-family: beleren-caps;
    src: url(fonts/Beleren-Small-Caps.woff);
}

html {
    font-family: beleren-caps;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

.inline-block {
    display: inline-block;
}

h1 {
    padding: 8px;
    -webkit-app-region: drag;
}

h2 {
    padding: 8px;
}

h3 {
    padding: 8px;
}

.beleren {
    font-family: beleren;
}

p {
    font-family: beleren;
    padding-left: 8px;
}

.deck-title {
    max-width: 200px;
}

.header-warning {
    color: rgb(250, 146, 146);
    text-shadow: 2px 2px #1c1c1c;
}

.update-message a {
    color: #cccc00;
    text-shadow: 2px 2px #1c1c1c;
    text-decoration: none;
}

#container {
    height: 160px;
    width: 320px;
    background-color: rgba(83, 83, 83, 0.8);
    color: white;
    padding: 0;
    margin: 0;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    margin: 15px;
}

.card {
    font-family: beleren;
    width: 297px;
    height: 43px;
    background-image: url("card_bgs/bw.png");
    /* background-color: rgba(221, 221, 221, 0.3); */
    margin-left: 8px;
    color: black;
    opacity: 0.8;
}

.card-b {
    background-image: url("card_bgs/b.png");
}

.card-b.card-flip {
    background-image: url("card_bgs/b_flip.png");
}

.card-b.card-g {
    background-image: url("card_bgs/bg.png");
}

.card-b.card-r {
    background-image: url("card_bgs/br.png");
}

.card-c {
    background-image: url("card_bgs/c.png");
}

.card-c.card-flip {
    background-image: url("card_bgs/c_flip.png");
}

.card-g {
    background-image: url("card_bgs/g.png");
}

.card-g.card-flip {
    background-image: url("card_bgs/g_flip.png");
}

.card-g.card-u {
    background-image: url("card_bgs/gu.png");
}

.card-g.card-u.card-flip {
    background-image: url("card_bgs/gu_flip.png");
}

.card-g.card-w {
    background-image: url("card_bgs/gw.png");
}

.card-r {
    background-image: url("card_bgs/r.png");
}

.card-r.card-flip {
    background-image: url("card_bgs/r_flip.png");
}

.card-r.card-g {
    background-image: url("card_bgs/rg.png");
}

.card-r.card-w {
    background-image: url("card_bgs/rw.png");
}

.card-r.card-w.card-flip {
    background-image: url("card_bgs/rw_flip.png");
}

.card-u {
    background-image: url("card_bgs/u.png");
}

.card-u.card-flip {
    background-image: url("card_bgs/u_flip.png");
}

.card-u.card-b {
    background-image: url("card_bgs/ub.png");
}

.card-u.card-r {
    background-image: url("card_bgs/ur.png");
}

.card-u.card-r.card-flip {
    background-image: url("card_bgs/ur_flip.png");
}

.card-w {
    background-image: url("card_bgs/w.png");
}

.card-w.card-flip {
    background-image: url("card_bgs/w_flip.png");
}

.card-w.card-b {
    background-image: url("card_bgs/wb.png");
}

.card-w.card-u {
    background-image: url("card_bgs/wu.png");
}

.card-w.card-b.card-flip {
    background-image: url("card_bgs/wb_flip.png");
}

.card-m-back {
    background-image: url("card_bgs/m.png");
}

.card-text {
    padding-top: 11px;
    padding-left: 16px;
    text-shadow: 0 0 0;
}

.card-text-limit {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.card-text-limit:before {
    content: '';
    width: 23px;
    height: 20px;
    position: absolute;
    left: 218px;
}


.card-w .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #f1f1e1);
        <h3 class="zoom-panel"><span id="zoom-out" class="zoom">-</span> / <span id="zoom-in" class="zoom">+</span></h3>
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #f1f1e1);
}

.card-c .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #c9cdd2);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #c9cdd2);
}

.card-u .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #b2cdde);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #b2cdde);
}

.card-g .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #bbcec2);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #bbcec2);
}

.card-r .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #e8cab8);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #e8cab8);
}

.card-b .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #c1bab8);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #c1bab8);
}

.card-m .card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #d1b76c);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #d1b76c);
}

.card-text-limit:before {
    background-image: -webkit-linear-gradient(left, rgba(182, 176, 174, 0), #c1bab8);
    background-image: linear-gradient(left, rgba(182, 176, 174, 0), #c1bab8);
}

.card-text-limit b, .card-text-limit i, .card-text-limit {
    text-shadow: 0 0 0;
}

.link {
    cursor: pointer;
}

.deck-container:nth-child(odd) {
    background-color: #8a8a8a;
}

.cost {
    float: right;
    margin-right: 17px;
    margin-top: 2px;
}

#floating-eye {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 295px;
    top: 25px;
    z-index: 100;
}

#floating-eye:hover {
    background-color: rgba(50, 180, 210, 0.4);
}

.zoom-panel {
    color: rgba(160, 160, 160, 0.8);
    text-shadow: 0 0 0;
    padding-top: 0;
    padding-bottom: 0;
}

.zoom {
    cursor: pointer;
    text-shadow: 0 0 0;
}
