#container {
  margin: 10px 20px;
}

.scroller {
  width: 100%;
  height: 400px;
  overflow: auto;
  margin: 10px auto;
  padding: 10px 20px;
}

a {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}