* {
    text-shadow: none!important;
    color: black!important;
}

.container-framed {
    background-color: rgb(0, 237, 74);
}

.container-normal {
    background-color: rgba(0, 237, 74, 0.8);
}

.deck-container:nth-child(even) {
    background-color: rgb(42, 193, 90);
}