                        <li>
                            <a class="themeable"  href="/"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a class="themeable"  href="/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        <li>
                            <a class="themeable"  href="/decks"><i class="fa fa-leanpub fa-fw"></i> Decks</a>
                        </li>
                        <li>
                            <a class="themeable"  href="/drafts"><i class="fa fa-retweet fa-fw"></i> Drafts</a>
                        </li>
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        <!-- </li> -->