                <li class="dropdown themeable">
                    <a class="dropdown-toggle themeable" data-toggle="dropdown" href="">
                         <i class="fa fa-user fa-fw"></i> Hello, { data.username } <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user themeable">
                        <li>
                            <a class="themeable">Dark Mode</a>
                                <span class="dropdown-toggleswitch">
                                <label class="switch switch_type1" role="switch">
                                  <input type="checkbox" class="switch__toggle" id="dark-mode" onclick="toggleDarkMode()">
                                  <span class="switch__label"></span>
                                </label>
                            </span>
                        </li>
                        <!--<li class="divider themeable"></li>-->
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->